{{>licenseInfo}}
#ifndef _{{namespace}}_{{prefix}}Helpers_H
#define _{{namespace}}_{{prefix}}Helpers_H

#include <QJsonValue>

class QObject;

namespace {{namespace}} {
    void setValue(void* value, const QString &valueName, QJsonValue obj, const QString& type, const QString& complexType, QObject *parent = nullptr);
    void toJsonArray(QList<void*>* value, QJsonArray* output, const QString& innerType);
    void toJsonValue(const QString& name, void* value, QJsonObject* output, const QString& type);
    bool isCompatibleJsonValue(const QString& type);
    QString stringValue(const QString& value);
    QString stringValue(qint32 value);
    QString stringValue(qint64 value);
    QString stringValue(bool value);
}

#endif // _{{namespace}}_{{prefix}}Helpers_H
